.grayBox { margin:0; padding:5px; width:98%; border:2px solid #ccc; background:#eee}
.grayBox ul { list-style:none; margin:0; padding:0}
.grayBox ul li { list-style:none; margin:0; padding:0; line-height:150%}
.grayBox ul li strong.author { color:#999}

.redBox { margin:0; padding:5px; width:98%; border:2px solid #ccc; background:#FF6464; color:#fff}
.redBox ul { list-style:none; margin:0; padding:0}
.redBox ul li { list-style:none; margin:0; padding:0; line-height:150%}
.redBox .closeButton { color:#888; float:right}
.redBox .closeButton a { color:#888}
.redBox .closeButton button { border:none; background:transparent}