.adXE { width:100%; mpadding:5px; font-family:"돋움",Tahoma }
.adXE .summary { margin:0 0 10px } 
.adXE .summary em { font-style:normal }

.adXE .AdList { width:100%; padding:5px; border:2px solid #888 }
.adXE .AdList tr { border-bottom:1px solid #000 }
.adXE .AdList tr { line-height:150% }
.adXE .AdList tr span.author { color:#999 }
.adXE .AdList tr span.author.notice { color:#ff0000 }
.adXE .AdList tr td.regdate { text-align:right}
.adXE .AdList tr td.remain { padding:0 0 0 10px; background:url(../img/iconReplyArrow.gif) no-repeat 1px; color:#888}

.adXE .AdRegister dl dd { margin-bottom:5px }
.adXE .AdRegister dl dd.AdOption input { vertical-align:bottom }

.adXE .localNavigation { margin:0 0 20px 0px; padding:0; border-bottom:1px solid #ccc; overflow:hidden; *zoom:1 }
.adXE .localNavigation:after { content:""; display:block; clear:both }
.adXE .localNavigation li { margin:0 -1px 0 0; padding:0; position:relative; list-style:none; float:left; background:#fff }
.adXE .localNavigation li a{ float:left; padding:7px 15px 0 15px; height:18px; border:1px solid #ddd; border-bottom:none; background:url(../img/bgTab.gif) repeat-x;}
.adXE .localNavigation li.on { margin-bottom:-1px}
.adXE .localNavigation li.on a{ height:19px; background:none}

.adXE .localNavigation li a{ text-decoration:none !important; color:#666 }
.adXE .localNavigation li.active a { font-weight:bold; color:#1e6aac }

.adXE select.itemPicker { border:1px solid #888888; font-size:11px }

.adXE select.colorPicker { width:35px; border:1px solid #888888 }

.adXE .AdButton { margin:10px 0 }

.adXE .descriptionText { margin:10px 0; padding:5px; border:2px solid #888; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; -pie-border-radius:5px;}