#xeAdmin .section label { vertical-align:middle; }
#xeAdmin .section .lblContent { padding:0 0 166px 0; vertical-align:top; }

#xeAdmin .inputTitle,
#xeAdmin .inputContent { width:50%; }

#xeAdmin .inputContent { height:166px; overflow:auto; }

#xeAdmin .vNavigation { width:105px; margin:0; padding:0; list-style:none; }
#xeAdmin .vNavigation li { margin:0; padding:0; list-style:none; border-right:1px #888 solid; position:relative; }
#xeAdmin .vNavigation a { color:#555; text-decoration:none; }
#xeAdmin .vNavigation strong { color:#27e; }
#xeAdmin .vNavigation a:hover,
#xeAdmin .vNavigation a:focus { font-weight:700; text-decoration:none !important; }
#xeAdmin .vNavigation .last-child { left:115px; top:-15px; border:0 none; }

.rowTable td strong.alert { color:red; }